html {
	--circle-position: 21%;
	--controls-size: 50px;
	--card-padding-under-img: 1rem;
}

.card-container {
	width: 500px;
	transition: all 1s;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.card {
	position: absolute;
	padding: 2rem;
	width: 100%;
    transition: all 0.5s;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2rem);
	border-radius: 2rem;
}

.image-conteiner {
	width: 100%;
	height: 400px;
	background: rgb(0, 0, 0);
	border-radius: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
	overflow: hidden;
}

.image-conteiner img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
}

.music-info-conteiner h5,h5 {
	color: rgba(255, 255, 255, 0.5);
	transition: all 0.3s;
}
.music-info-conteiner h3 {
	color: rgb(241, 241, 241);
	max-width: 310px;
	overflow: hidden;
	max-lines: 2;
	font-weight: 500;
	transition: all 0.3s;
}
.music-info-conteiner h4 {
	transition: all 0.3s;
	font-weight: 400;
	color: rgb(241, 241, 241);
}
.music-info-conteiner {
	margin: 1rem 0;
}
.under-img {
	margin: 1rem 0;
	padding: var(--card-padding-under-img);
}
.music-progress-bar {
	width: 100%;
	height: 4px;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	display: flex;
	border-radius: 1rem;
	align-items: center;
}
.circle {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
}
.music-progress-bar .circle {
	transition: all 0.3s;
	left: var(--circle-position);
	position: absolute;
}
.music-progress-bar::after {
	content: "";
	overflow: hidden;
	background-color: white;
	display: absolute;
	width: calc(var(--circle-position));
	height: 4px;
	border-radius: 1rem;
}

.music-progress-bar .circle:hover {
	transform: scale(1.3);
	cursor: pointer;
}

.music-controls {
	padding: 2rem 0;
	display: flex;
	justify-content: space-evenly;
	background-color: transparent;
}

.music-controls img {
	width: 40px;
	transition: all 0.2s;
}

.music-controls img:hover {
	width: 40px;
	cursor: pointer;
	transform: scale(1.2);
}

.music-controls img:active {
	transform: scale(1);
}
#creator{
    text-align: center;
}

@media (max-width: 512px) {
	.card-container {
		width: 350px;
		height: 70vh;
	}
	.music-info-conteiner h3 {
		font-size: 0.937rem;
	}
	.music-info-conteiner h4 {
		font-size: 0.625rem;
	}
	.image-conteiner {
		height: 350px;
	}
}
@media (max-width: 375px) {
   .card-container {
		width: 290px;
		height: 60vh;
	}
	.music-info-conteiner h3 {
		font-size: 0.937rem;
	}
	.music-info-conteiner h4 {
		font-size: 0.625rem;
	}
	.image-conteiner {
		height: 330px;
    }
    .card{
        padding: 1rem;
    }
    .under-img {
        margin: 0;
    }
}
