* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  height: 100vh;
  background: url('./resources/bg.jpg');
  background-size: cover;
  backdrop-filter: blur(2rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
